.gallery {
    display: grid;
    justify-items: center;
    gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
}

.card-product{
    background-color: transparent;
    --bs-card-border-color: #transparent !important;
}