.navigation li{
    list-style:none;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255);
}

.navigation a{
    color:white;
    display: block;
    line-height:3.5;
    padding: 0 10px;
    text-decoration:none;
    transition:.4s ease;
}

.navigation a:hover{
    transform:translateX(10%);
}